$guelph-red: #990100;
$guelph-yellow: #fdc82f;
$green: #2d792d;
$red: rgb(187, 15, 15);

$medium-red: rgb(167, 44, 44);
$medium-green: rgb(46, 165, 46);

$light-gray: #bebcbc;

$lightest-red: rgb(226, 153, 153);
$lightest-green: rgb(167, 241, 167);
$lightest-gray: #fdfdfd;

$white: #f4fbfc;