**/node_modules
*.sw*
*.local
jsdoc/*
out/*
*.ini
**/.nyc_output
**/coverage

# IntelliJ
**/.idea

# VS Code
**/.vscode


*.rsa
*.pem

**/.DS_Store


public/scss/.sass-cache/
public/scss/main-scss.css.map