/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/



ol>li>ol {list-style-type: lower-alpha;}
ol>li>ol>li>ol {list-style-type: lower-roman;}